.grid {
  display: grid;
  margin: auto;
  height: 400px;
  width: 400px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  place-items: stretch;
}

.pixel {
  border: 1px solid red;
}

.palette {
  display: flex;
  height: 40px;
  justify-content: center;
}

.colour {
  width: 40px;
  border: 1px solid grey;
  margin: 3px;
}

.active {
  box-shadow: 5px 5px grey;
}
